$darkgrey: #212121 !important;
$grey: #727272 !important;
$lightgrey: #b6b6b6 !important;
$white: #FFFFFF !important;
$blue: #2196f3 !important;
$amber: #ffc107 !important;
body {
  color: $darkgrey;
}

header div:first-child {
  background: $grey;

  h1 {
    margin: 0;

    img {
      width: 400px;
    }
  }
}

.top-bar {
  background: $lightgrey;

  ul, a {
    background: $lightgrey;
  }

  a:hover {
    background: $grey;
    color: $blue;
  }

  img {
    width: 150px;
  }
}

.slider {
  max-width: 1366px;
  margin: 0 auto;
  background: white;
  height: 300px;
  overflow: hidden;
    
  div {
    width: 1366px;;
    height: 300px;       
  }    
}

.fade {
  width: 500px;
  height: 300px;
  margin: 0 auto;

  div {
    width: 500px;
    height: 300px;

    img {
      width: 100%;
    }
  }
}

.slick-next, 
.slick-prev,
.slick-arrow {
  color: $grey;
}

.caption {
  background: $lightgrey;
  text-align: center;
  max-width: 1366px;
  margin: 0 auto;


  h1 {
    margin: 0;
    color: $white;
  }
}

h2 {
  color: $grey;
}

footer {
  background: $lightgrey;
  color: $white;
  padding: 20px;
  text-align: center;

  ul li {
    list-style: none;

    a {
      color: $white;
    }

    a:hover {
      color: $blue;
    }
  }
}

.amber {
  background: $amber;
}

.grey {
  background: $lightgrey;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}   
